Задължително е използването на конвенция за именуването. Всички променливи, методи и ресурсни ID да са наименувани и описани, така че друг програмист, който чете кода да може лесно да разбере тяхната функция.

Използването на външни библиотеки в приложението НЕ е разрешено, освен ако тяхното имплементиране е обосновано и защитено от студента предварително!

Изискванията към разработеното приложение са:

- да съдържа поне два компонента Activity, комуникиращи помежду си със съобщение Intent;

- да са използвани фрагменти;

- да се свързва с интернет, извлича информация от API и правилно да показва тази информация на екран на мобилно устройство;

- да съдържа поне една услуга (Service);

- да използва работна нишка, изпълнявана паралелно с основната;

- да съхранява и извлича данни в БД SQLite.

- applicationId (package name) трябва да включва факултетния номер